@model IEnumerable<CNLCI.Models.Justificante>

@{
    ViewBag.Title = "Justificante";
}

<main>
    <div class="container Marco">
        <div style="margin-bottom: 20px;">
            <center>
                <h1 class="title">Historial de justificantes</h1>
            </center>
        </div>
        <div class="container este Marco">

            <table class="table" id="miTabla">
                <thead>
                    <tr>
                        <th>
                            <center>No. de Justificantes</center>
                        </th>
                        <th>
                            <center>Matrícula</center>
                        </th>
                        <th>
                            <center>Grupo</center>
                        </th>
                        <th>
                            <center>Motivo</center>
                        </th>
                        <th>
                            <center>Fecha</center>
                        </th>

                        <th><center>Acciones</center></th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr>

                        <th>
                            <center>  @item.No__justificante</center>
                        </th>
                        <td>
                            <center> @Html.DisplayFor(modelItem => item.Matricula) </center>
                        </td>

                        <td>
                            <center> @Html.DisplayFor(modelItem => item.Grupo_Referente)</center>
                        </td>
                        <td>
                            <center> @Html.DisplayFor(modelItem => item.Motivo)</center>
                        </td>

                        <td>
                            <center>
                                @if (item.Fecha_del_dia.ToString().Substring(0, 10) == item.Fecha_al_dia.ToString().Substring(0, 10))
                                {<text>
                                        @item.Fecha_del_dia.ToString().Substring(0, 10)


                                </text>}
                            else
                            { <TEXT>@item.Fecha_del_dia.ToString().Substring(0, 10) - @item.Fecha_al_dia.ToString().Substring(0, 10)</TEXT>}
                            </center>
                        </td>

                        <td>
                            <center>
                                <a class="button is-rounded button-link " style="height: auto; max-width: 100%; " href="@Url.Action("ImprimirJ", "Historial")">Imprimir</a>
                              
                            </center>
                        </td>
                    </tr>
                }

            </table>


        </div>
    </div>
</main>


