@model IEnumerable<CNLCI.Models.Alumno>


@foreach (var datos in Model)
{
    <div class="container">
        <div class="Marco">
            <div class="columns ">
                <div class="column is-half">
                    <div class="field">

                        <div class="control">
                            <input class="input" type="text" placeholder="Nombre(s)" value="@datos.Nombre" readonly />
                        </div>
                    </div>
                </div>
                <div class="column is-one-quarter">
                    <div class="field">

                        <div class="control">
                            <input class="input" type="text" placeholder="Apellido paterno" value="@datos.Primer_apellido" readonly>
                        </div>
                    </div>
                </div>
                <div class="column is-one-quarter">
                    <div class="field">

                        <div class="control">
                            <input class="input" type="text" placeholder="Apellido materno" value="@datos.Segundo_apellido" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-one-quarter">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" placeholder="Matrícula" value="@datos.Matricula" readonly>
                        </div>
                    </div>
                </div>

                <div class="column is-2-4">
                    <div class="field">
                        <div class="control">
                            <div class="select" style=" width: 100%">
                                <select>

                                    <option value="" style="display: none;">Seleccionar carrera</option>
                                    <option value="ACTIVIDADES EXTRACURRICULARES">Actividades extracurriculares</option>
                                    <option value="FAMILIAR">Familiar</option>
                                    <option value="MÉDICO">Médico</option>
                                    <option value="PERSONAL">Personal</option>
                                    <option value="VIAJE EDUCATIVO">Viaje educativo</option>

                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column is-one-quarter">
                    <div class="field">
                        <div class="control">

                            <div class="select" style=" width: 100%">
                                <select>

                                    <option value="" style="display: none;">Seleccionar grupo </option>
                                    <option value="ACTIVIDADES EXTRACURRICULARES">Actividades extracurriculares</option>
                                    <option value="FAMILIAR">Familiar</option>
                                    <option value="MÉDICO">Médico</option>
                                    <option value="PERSONAL">Personal</option>
                                    <option value="VIAJE EDUCATIVO">Viaje educativo</option>

                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_Motivo")
    <div class="container" style="text-align: left;">
        <div class="Marco">
            <div class="field is-horizontal">
                <div class="field-label is-normal is-flex is-align-items-center">
                    <label class="label">Fecha</label>
                </div>
                <div class="field-body has-addons-centered">
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <!-- Botón de radio "Única" -->
                                <label class="radio">
                                    <input type="radio" name="fecha" value="unica" onclick="habilitarFecha()" checked>
                                    Única
                                </label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <!-- Campo de fecha -->
                                <input class="input" type="date" id="fecha" name="fecha">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <!-- Botón de radio "Extendida" -->
                                <label class="radio">
                                    <input type="radio" name="fecha" value="extendida" onclick="habilitarExtendida()">
                                    Extendida
                                </label>
                            </div>
                        </div>
                        <div class="field is-horizontal" id="extendidaFields">
                            <div class="field">
                                <div class="control">
                                    <label class="label">Del día</label>
                                    <!-- Campo de fecha "Del día" con formato yyyy/mm/dd -->
                                    <input class="input" type="date" id="fechaDelDia" name="fechaDelDia" disabled>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label class="label">Al día</label>
                                    <!-- Campo de fecha "Al día" con formato yyyy/mm/dd -->
                                    <input class="input" type="date" id="fechaAlDia" name="fechaAlDia" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field is-grouped is-grouped-centered">
        <p class="control">
            <button type="reset" class="button is-danger">Limpiar</button>
        </p>
        <p class="control">
            <button type="submit" class="button is-primary">Generar</button>
        </p>
    </div>
}



